USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MANAR\MSSQL\DATA\Hotel.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MANAR\MSSQL\DATA\Hotel_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Schema [Company]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE SCHEMA [Company]
GO
/****** Object:  Default [ddate]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE DEFAULT [dbo].[ddate] 
AS
Getdate()
GO
/****** Object:  Default [dloc]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE DEFAULT [dbo].[dloc] 
AS
'YN'
GO
/****** Object:  Rule [rloc]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE RULE [dbo].[rloc] 
AS
@loc in ('YN','DS','KW')
GO
/****** Object:  Rule [rsalary]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE RULE [dbo].[rsalary] 
AS
@sal<6000
GO
/****** Object:  UserDefinedDataType [dbo].[loc]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE TYPE [dbo].[loc] FROM [varchar](2) NOT NULL
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[adminID] [int] NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[passward] [nvarchar](max) NOT NULL,
	[confirmPassword] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[bookID] [int] IDENTITY(1,1) NOT NULL,
	[smoking] [bit] NOT NULL,
	[petFriendly] [bit] NOT NULL,
	[checkIn] [datetime] NOT NULL,
	[checkOut] [datetime] NOT NULL,
	[roomType] [nvarchar](max) NULL,
	[numberOfBed] [int] NOT NULL,
	[gusID] [int] NULL,
	[reserve] [bit] NOT NULL,
	[confirmPay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[deptID] [int] IDENTITY(1,1) NOT NULL,
	[deptName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[deptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fedbacks]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fedbacks](
	[roomNum] [int] IDENTITY(1,1) NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[date] [datetime] NOT NULL,
	[gusID] [int] NULL,
 CONSTRAINT [PK_dbo.Fedbacks] PRIMARY KEY CLUSTERED 
(
	[roomNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gusets]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gusets](
	[gusID] [int] IDENTITY(1,1) NOT NULL,
	[age] [int] NOT NULL,
	[gusName] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](11) NOT NULL,
	[SSN] [nvarchar](14) NOT NULL,
	[gender] [nvarchar](max) NULL,
	[confirmPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Gusets] PRIMARY KEY CLUSTERED 
(
	[gusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[roomNum] [int] IDENTITY(1,1) NOT NULL,
	[floorNum] [int] NOT NULL,
	[price] [float] NOT NULL,
	[numberOfBed] [int] NOT NULL,
	[roomType] [nvarchar](max) NULL,
	[smoking] [bit] NOT NULL,
	[petFriendly] [bit] NOT NULL,
	[gusID] [int] NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[roomNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 12/10/2020 11:12:46 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[staffID] [int] IDENTITY(1,1) NOT NULL,
	[staffName] [nvarchar](max) NOT NULL,
	[gender] [nvarchar](max) NOT NULL,
	[salary] [float] NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](11) NOT NULL,
	[deptID] [int] NULL,
 CONSTRAINT [PK_dbo.Staffs] PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admins] ([adminID], [userName], [passward], [confirmPassword], [email]) VALUES (1, N'joseeph', N'7458mnhj*', N'7458mnhj*', N'joseeph@gmail.com')
INSERT [dbo].[Admins] ([adminID], [userName], [passward], [confirmPassword], [email]) VALUES (2, N'fareed', N'1456kl*', N'1456kl*', N'fareed@gmail.com')
INSERT [dbo].[Admins] ([adminID], [userName], [passward], [confirmPassword], [email]) VALUES (3, N'fayroz', N'ds4152*', N'ds4152*', N'fayroz@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([bookID], [smoking], [petFriendly], [checkIn], [checkOut], [roomType], [numberOfBed], [gusID], [reserve], [confirmPay]) VALUES (1, 1, 1, CAST(N'2020-06-16T00:00:00.000' AS DateTime), CAST(N'2020-06-19T00:00:00.000' AS DateTime), N'family', 3, 4, 1, 1)
INSERT [dbo].[Bookings] ([bookID], [smoking], [petFriendly], [checkIn], [checkOut], [roomType], [numberOfBed], [gusID], [reserve], [confirmPay]) VALUES (3, 0, 1, CAST(N'2020-06-02T00:00:00.000' AS DateTime), CAST(N'2020-06-04T00:00:00.000' AS DateTime), N'double', 2, 16, 1, 1)
INSERT [dbo].[Bookings] ([bookID], [smoking], [petFriendly], [checkIn], [checkOut], [roomType], [numberOfBed], [gusID], [reserve], [confirmPay]) VALUES (5, 1, 1, CAST(N'2020-06-07T00:00:00.000' AS DateTime), CAST(N'2020-06-08T00:00:00.000' AS DateTime), N'single', 1, 15, 0, 0)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([deptID], [deptName]) VALUES (1, N'Cleaning')
INSERT [dbo].[Departments] ([deptID], [deptName]) VALUES (2, N'Engineering Department')
INSERT [dbo].[Departments] ([deptID], [deptName]) VALUES (3, N'Account management')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Fedbacks] ON 

INSERT [dbo].[Fedbacks] ([roomNum], [rating], [comment], [date], [gusID]) VALUES (1, 3, N'there is no problem ,every thing was ok.', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 7)
INSERT [dbo].[Fedbacks] ([roomNum], [rating], [comment], [date], [gusID]) VALUES (2, 2, N'fine', CAST(N'2020-10-10T00:00:00.000' AS DateTime), 20)
INSERT [dbo].[Fedbacks] ([roomNum], [rating], [comment], [date], [gusID]) VALUES (3, 3, N'the service was very good', CAST(N'2020-10-10T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Fedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Gusets] ON 

INSERT [dbo].[Gusets] ([gusID], [age], [gusName], [email], [password], [phone], [SSN], [gender], [confirmPassword]) VALUES (4, 20, N'Ahmed', N'Ahmed@gmail.com', N'asd*52', N'1095004528', N'30006162500646', N'mail', N'asd*52')
INSERT [dbo].[Gusets] ([gusID], [age], [gusName], [email], [password], [phone], [SSN], [gender], [confirmPassword]) VALUES (6, 22, N'saad', N'saad@gmail.com', N'dsa*41', N'1095004521', N'30006162500645', N'mail', N'dsa*41')
INSERT [dbo].[Gusets] ([gusID], [age], [gusName], [email], [password], [phone], [SSN], [gender], [confirmPassword]) VALUES (7, 20, N'nour', N'nour@gmail.com', N'nmbv8/', N'1060657221', N'30006162500632', N'female', N'nmbv8/')
SET IDENTITY_INSERT [dbo].[Gusets] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([roomNum], [floorNum], [price], [numberOfBed], [roomType], [smoking], [petFriendly], [gusID]) VALUES (1, 5, 3000, 3, N'family', 1, 1, 4)
INSERT [dbo].[Rooms] ([roomNum], [floorNum], [price], [numberOfBed], [roomType], [smoking], [petFriendly], [gusID]) VALUES (3, 5, 2000, 2, N'double', 0, 1, 4)
INSERT [dbo].[Rooms] ([roomNum], [floorNum], [price], [numberOfBed], [roomType], [smoking], [petFriendly], [gusID]) VALUES (4, 4, 1500, 1, N'single', 1, 1, 15)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([staffID], [staffName], [gender], [salary], [address], [email], [phone], [deptID]) VALUES (3, N'omar', N'mail', 3000, N'Assiut', N'omar@gmail.com', N'01028574232', 1)
INSERT [dbo].[Staffs] ([staffID], [staffName], [gender], [salary], [address], [email], [phone], [deptID]) VALUES (4, N'doaa', N'femail', 2500, N'Alex', N'doaa@gmail.com', N'01028574891', 5)
INSERT [dbo].[Staffs] ([staffID], [staffName], [gender], [salary], [address], [email], [phone], [deptID]) VALUES (5, N'alaa', N'femail', 3000, N'cairo', N'alaa@gmail.com', N'01082754891', 3)
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
/****** Object:  Index [IX_adminID]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE NONCLUSTERED INDEX [IX_adminID] ON [dbo].[Admins]
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_gusID]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE NONCLUSTERED INDEX [IX_gusID] ON [dbo].[Bookings]
(
	[gusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_gusID]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE NONCLUSTERED INDEX [IX_gusID] ON [dbo].[Fedbacks]
(
	[gusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_gusID]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE NONCLUSTERED INDEX [IX_gusID] ON [dbo].[Rooms]
(
	[gusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_deptID]    Script Date: 12/10/2020 11:12:46 م ******/
CREATE NONCLUSTERED INDEX [IX_deptID] ON [dbo].[Staffs]
(
	[deptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [reserve]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [confirmPay]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admins_dbo.Departments_adminID] FOREIGN KEY([adminID])
REFERENCES [dbo].[Departments] ([deptID])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_dbo.Admins_dbo.Departments_adminID]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Gusets_gusID] FOREIGN KEY([gusID])
REFERENCES [dbo].[Gusets] ([gusID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Gusets_gusID]
GO
ALTER TABLE [dbo].[Fedbacks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Fedbacks_dbo.Gusets_gusID] FOREIGN KEY([gusID])
REFERENCES [dbo].[Gusets] ([gusID])
GO
ALTER TABLE [dbo].[Fedbacks] CHECK CONSTRAINT [FK_dbo.Fedbacks_dbo.Gusets_gusID]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.Gusets_gusID] FOREIGN KEY([gusID])
REFERENCES [dbo].[Gusets] ([gusID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.Gusets_gusID]
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staffs_dbo.Departments_department_deptID] FOREIGN KEY([deptID])
REFERENCES [dbo].[Departments] ([deptID])
GO
ALTER TABLE [dbo].[Staffs] CHECK CONSTRAINT [FK_dbo.Staffs_dbo.Departments_department_deptID]
GO
USE [master]
GO
