
@{
    ViewBag.Title = "Index";
}

<h1 style="color:darkcyan;text-align:center; font-family:  Geneva, Verdana, sans-serif;">Our Rooms In Hotel</h1>
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 350px;
        height:350px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
        font-size:20px;
        color:darkcyan;
    }
</style>
<div>
    <div class="gallery">
        <a target="_blank" href="~/Images/images (7).jpg">
            <img src="/Images/images (7).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Romantic Room For Lovers</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/Images/images (6).jpg">
            <img src="/Images/images (6).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">The Pretty Under Water Room </div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/Images/images (5).jpg">
            <img src="/Images/images (5).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">This Room With Bed And Swimming Bool(High Quality)</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/Images/images (4).jpg">
            <img src="/Images/images (4).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Secrets Rooms</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/images (3).jpg">
            <img src="~/Images/images (3).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Simple Decoration Room For Family</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/images (2).jpg">
            <img src="~/Images/images (2).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Family Room</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/download (2).jpg">
            <img src="~/Images/download (2).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">This Room With Three Beds (High Quality)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/download (3).jpg">
            <img src="~/Images/download (3).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Small Room For Two Person</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/download (4).jpg">
            <img src="~/Images/download (4).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">Amazing Room With View</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/download (5).jpg">
            <img src="~/Images/download (5).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">This Room With Two Beds And Bathroom</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/download (6).jpg">
            <img src="~/Images/download (6).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">This Room With Two Beds (High Quality)</div>
    </div>
    <div class="gallery">
        <a target="_blank" href="~/Images/images (8).jpg">
            <img src="~/Images/images (8).jpg" alt="room" width="1000" height="1000">
        </a>
        <div class="desc">The Beautiful Kids Room For Childern </div>
    </div>
</div>


