
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-image: url("/Images/the_gibson_hotel_exterior.jpg"),url("/Images/images (1).jpg");
        background-position: 50% 50%;
        background-repeat: repeat;
    }
</style>
<h1 style="color:white;text-align:center; font-family:  Geneva, Verdana, sans-serif;">Online Hotel Reservation System</h1>
   @* <img src="@Url.Content("~/Images/the_gibson_hotel_exterior.jpg")" class="img-responsive" />*@

   
